* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}


p{
    
    color: #666;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 160px;
  border: 2px solid red;
  height: 56px;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
}

.header-right {
  display: flex;
  gap: 50px;
}

.header img {
  width: 135px;
}

.header-right a {
  text-decoration: none;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-section {
  text-align: center;
}

.hero-section img {
  width: 800px;
  margin: 52px 0;
}

.hero-section h1 {
  margin-bottom: 20px;
  color: #666;
}

.hero-section p {
  margin-bottom: 30px;
  font-size: large;
}

.hero-section button {
  background-color: #387ed1;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0) !important;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 60px;
  font-size: large;
}

.trust-section {
  display: flex;
 
}

.trust-left {
    padding: 0 160px;
}

.trust-right{
    padding: 0 160px;;
}

.trust-right img{
    width: 600px;
}

.trust-left h2{
    margin-bottom: 40px;
}

.trust-left h3{
    margin-bottom: 8px;
}

.trust-left p{
    margin-bottom: 24px;
    line-height: 1.8;
    font-size: medium;
}

.trust-left a{
    text-decoration: none;
}