* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 160px;
  border: 2px solid red;
  height: 56px;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
}

.header-right {
    display: flex;
    gap: 50px;
}

.header img {
    width: 135px;
}

.header-right a {
    text-decoration: none;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-section {
    text-align: center;
}

.hero-section img {
    width: 560px;
    margin: 52px 0;
}

.hero-section h1 {
    margin-bottom: 10px;
}

.hero-section p {
    margin-bottom: 10px;
}

.hero-section button {
    background-color: #387ed1;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    border-radius: 20px;
    padding: 10px 20px;
}